{% extends "basic.html" %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to IdentiFido</h1>
      <p>
        This project uses deep learning to attempt to identify dog breeds. <br>
        Furthermore, by reporting the likelihood of the submitted image belonging to a dog breed class,
        it can potentially be used to determine the similarity of a mixed breed dog to it's purebred
        counterparts.
      </p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
  </div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Project Details</h2>
        <p>
          Learn more about the development of IdentiFido.
        </p>
        <p><a class="btn btn-default" href="/about" role="button">Read more &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Submit Picture</h2>
        <p>
          Submit a picture and see what Identifido thinks.
        </p>
        <p><a class="btn btn-default" href="/submit" role="button">Pup pup and away &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>About Me</h2>
        <p>
          More information about myself, as well as contact details.
        <p><a class="btn btn-default" href="/aboutme" role="button">My info &raquo;</a></p>
      </div>
    </div>


{% endblock %}
