{% extends "basic.html" %}
{% block body %}
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome to IdentiFido</h1>
      <p>
        This project aims to do some stuff with some dogs. <br>
        To answer some of life's greatest questions. <br>
        Questions like ... "hey bro, what kind of dog does this vaguely look like".
        <br><br>
        Seriously though, dogs are adorable.
      </p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
    </div>
  </div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Project Details</h2>
        <p>
          Learn some stuff about the project, like how totally cool neural nets are and how
          hard graphs are to make.
        </p>
        <p><a class="btn btn-default" href="/about" role="button">Read on &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Submit Picture</h2>
        <p>
          Submit a dog picture. Maybe the model will get it right, maybe it won't. I'm
          not the boss of it.
        </p>
        <p><a class="btn btn-default" href="/submit" role="button">PUP PUP AND AWAY &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>About Me</h2>
        <p>
          I'm a guy that can do some stuff. Probably.
        <p><a class="btn btn-default" href="/aboutme" role="button">COOL GUY &raquo;</a></p>
      </div>
    </div>


{% endblock %}
